/* Show it is fixed to the top */
/* body {
    min-height: 75rem;
    padding-top: 4.5rem;
} */
  
.workarea {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

.j-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
  }
  